<!DOCTYPE html>
<html>
  <head>
    <title>Generate Bill Section</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dummy Data</h1>
    <p>Welcome to Bill Generation</p>
	<form method = "post" action = "/generateBill">
    Distance :<input type = "text" name = "distance"></input></br>
    Car : <select name="carType">
    	  <option value="bc">BigCar</option>
    	  <option value="mc">MediumCar</option>
    	  <option value="sc">SmallCar</option>
    		</select></br>
    Driver : <input type="text" name = "driver"></input></br>
    Duration of Travel : <input type="text" name = "time"></input></br>
    <input type= "submit" value = "submit"></input> 
   </form>
    
    
  </body>
</html>